@import 'reset';

@import 'bourbon';
@import 'neat';
@import 'border-box';

body {
    font-family: Georgia, serif;
    margin: 0 20px;
}

.wrapper {
    @include outer-container(980px);
    margin-top: 30px;
}

#sidebar {
    @include span-columns(4);
    padding: 0 10px;
    li {
        padding: 20px;
        border-bottom: 1px solid gray;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
    li:first-of-type {
        margin-top: 0;
    }
    li:last-of-type {
        border-bottom: none;
    }
    li:hover {
        background: lighten(gray, 40%);

        .title {
            color: #0074bf;
        }
    }
    .title {
        font-size: 1em;
        font-weight: bold;
        text-decoration: none;
        color: black;
        margin-bottom: 5px;
    }
    .post {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.9em;
        margin-bottom: 10px;
    }
    .date {
        font-size: 0.8em;
        color: gray;
    }
}
#target {
    @include span-columns(8);

    .title {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .date {
        font-size: 0.9em;
        color: gray;
        margin-bottom: 15px;

    }
    .post {
        font-size: 1.2em;
        line-height: 1.7em;
        margin-bottom: 15px;
    }
    .editbutton {
        margin-top: 20px;
    }
    .edit {
        input, textarea {
            @include span-columns(12);
            margin-bottom: 15px;
            padding: 10px;
            font-family: inherit;
            border: 1px solid gray;
        }
        textarea {
            height: 500px;
        }
        button {
            width: 70px;
        }
        .delete {
            float: right;
            background: #a42000;
        }
        .delete:hover {
            background: darken(#a42000, 10%);
        }
    }
}

button {
    border: none;
    border-radius: 3px;
    padding: 10px;
    background: #0074bf;
    color: white;
}

button:hover {
    background: darken(#0074bf, 10%);
}
