<form>
    <label for="first-name">First</label>
    <input type="text" class="first-name" name="first-name" autocomplete='given-name'>
    <label for="last-name">Last</label>
    <input type="text" class="last-name" name="last-name" autocomplete="family-name">
    <label for="address">Address</label>
    <input type="text" class="address" name="address" autocomplete="street-address">
    <label for="phone">Phone Number</label>
    <input type="text" class="phone" name="phone" autocomplete="tel">
    <button>Submit</button>
</form>
