<article>
    <header>
        <h1 class="title">{{ title }}</h1>
    </header>
    <section>
        <p class="date">posted on: {{ createDate }}</p>
        <p class="post">{{ post }}</p>
    </section>
</article>
