<button class="add-bookmark">Add Bookmark</button>
<form>
    <label for="link">Bookmark URL</label>
    <input type="text" class="link" name="link">
    <label for="tag">Tag</label>
    <input type="text" class="tag" name="tag">
    <button class="submit-bookmark">Save Bookmark</button>
</form>
