<form class="edit">
    <input type="text" name="title" value="{{ title }}" class="title">
    <textarea name="post" class="post">{{ post }}</textarea>
    <button class="save">Save</button>
    <button class="delete">Delete</button>
</form>
