<ul>
    {{#each this as |bookmark|}}
        <li>
            <a href="{{ bookmark.link }}">
                <p class="link">{{ bookmark.link }}</p>
            </a>
            <p class="date">Saved on: {{ bookmark.createDate }}</p>
        </li>
    {{/each}}
</ul>
