<ul>
    {{#each this as |bookmark|}}
        <li>
            <a href="{{ bookmark.link }}">
                <p class="link">{{ bookmark.link }}</p>
                <p class="date">{{ bookmark.createDate }}</p>
            </a>
        </li>
    {{/each}}
</ul>
