<form class="new">
    <label for="title">Title</label>
    <input type="text" name="title">
    <label for="body">Body</label>
    <textarea name="body"></textarea>
    <button class="submit">Submit</button>
</form>
