<form class="new">
    <input type="text" name="title" class="title" placeholder="Title">
    <textarea name="body" class="post" placeholder="body"></textarea>
    <button class="save">Submit</button>
</form>
