<ul>
    {{#each this as |blog|}}
        <li>
            <p class="title">{{ blog.title }}</p>
            <p class="post">{{ blog.post }}</p>
            <p class="date">{{ blog.createDate }}</p>
        </li>
    {{/each}}
</ul>
